body{
    margin: 0;
}

.content-wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr .10fr 5fr ;
    
    
}

.top-portion{
    background-color: #2e8e99;
    color: white;
    text-align: center;
    
}

#rgb-color{
    text-transform: uppercase;
}

.middle-porition{
    text-align: center;
    margin: auto;
    
}

.heart-imgs > img.fadeToWhite{
    transition: 1s;
    filter: opacity(0);
}

#new-colors{
    border: none;
    background-color: white;
    color: #2e8e99;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
}


.bottom-portion{
    background-color: black;
    display: grid;
    gap: 15px;
    grid-auto-rows: 200px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    align-content: center;
}

.bottom-portion  > div{
    border-radius: 40px;
    cursor: pointer;
    
}

.bottom-portion > div.fadeIn{
    opacity: 0;
    transition: 1s;
    cursor: default;
    
}

.bottom-portion > div.fadeOut{
    opacity: 1;
    transition: 1s;
}

